.well-known/
__pycache__/
*.sqlite3
*env/
*.mp4
*.pyc
sendgrid.env
logs/
debug.log
media/
data.json
static/
!*/static/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
*.bak
.idea/
pure_html/
local_settings.py
node_modules/

build/
.DS_Store